<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Timothée Comte</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" routerLink="">Accueil</a>
			<a class="nav-item nav-link" routerLink="/formation">Formation</a>
			<a class="nav-item nav-link" routerLink="/experience">Expérience</a>
			<a class="nav-item nav-link" routerLink="/contact">Me contacter</a>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>

<footer class="text-muted fixed-bottom bg-primary">
	<div class="container text-center">
		<p class="text-white m-3">Copyright Timothée Comte 2021</p>
	</div>
</footer>